* {
    padding: 0;
    margin: 0;
    font-size:62.5%;
}
$blue: rgb(95,192,205);
$white: #fff;
$width: 100%;
$gray: rgb(234,237,238);
$top: 1.3rem;
$none: none;
$postion: 2.9rem;
body {   
    background-color: rgb(239,240,244);
}
@mixin display {
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    border: $none;
    outline: $none;
    background-color: $blue;
    color: $white;
}
.center
    {
    font-size: 3.6rem;
    }
span{
    font-size: 3.2rem;
}
header{
    background-color: $blue;
    width: $width;
    height: 8.6rem;
    @include display;
    justify-content: space-between;
    position: relative;
    .left{
        margin-left: $postion;
    }
    .right{
        margin-right: $postion;
    }
}
main{
    .centent{
        background-color: $white;
        margin-top: $top;
        height: 10.2rem;
        @include display;
        justify-content: flex-start;
        .logo{
            width: 11.5rem;
            height: 5.5rem;
            border-right: 0.2rem solid $gray;
            @include display;
        }
        .import{
            width: 86%;
            margin-left: 3.1rem;
            font-size: 3.2rem;    
            border: $none;
            outline:medium; 
        }
    }
}
footer {
    margin-top: 7rem;
    .blue{
    background-color: $blue;
    width: $width;
    height: 9.7rem;
    @include display;
    }
    .forget{
    position:fixed;
    right: 3%;
    color: $blue;
    border: $none;
    }   
}