*   {
    padding: 0;
    margin: 0;
    }
html
    {
    font-size: 62.5%;
    }  
body
    {
    background-color: #F5F5F5;
    }
.sprites
    {
    background-image: url(css8-1sprites.png);
    transform: scale(0.6);
    }    
.display
    {
    display: flex;
    align-items: center;
    justify-content: center;
    }
.margin
    {
    margin-right: 1.5rem;
    }
.bottom 
    {
    margin-bottom: 2rem;
    }
header
    {
    width: 100%;
    z-index: 999;
    }
.white
    {
    color: #009966;
    height: 2rem;
    background-color: #fff;
    white-space: nowrap;
    }
.font-small
    {
    font-size: 0.1rem; 
    }
@media screen and (min-width: 750px)
    {
.round
    {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%; 
    margin: 0 0.2rem 0 0.2rem;
    border: 0.04rem solid #009966;
    }
    
.icon1
    {
    background-position:-1314px -630px;
    width: 14px; 
    height: 14px;
    } 
.icon2
    {
    background-position: -1278px -630px; 
    width:16px; 
    height: 14px;
    } 
.icon3
    {
    background-position: -1242px -630px;
    width: 16px; height: 14px;
    } 
    }
.green
    {
    height: 4rem;
    background-color: #009966;
    color: #fff;
    } 
.left
    {
    justify-content: flex-start;
    }
.right
    {
    justify-content: flex-end;
    }
.head
    {
    justify-content: flex-end;    
    } 
 @media screen and (max-width: 750px)
    {
.head
    {
    display: none; 
    }
    }
a
    {
    color: white;
    line-height: 3rem;
    white-space: nowrap;
    font-size: 1.1rem;
    }
.link
    {
    height: 4rem;
    width: 4rem;
    position: relative;
    left: 1.3rem;
    white-space: nowrap;
    }
a:link 
    { 
    color: #fff; 
    text-decoration: none; 
    } 
a:visited { 
    color: #fff; 
    text-decoration: none; 
    } 
a:hover { 
    color: #fff; 
    text-decoration: none;
    }
.link:hover
    {
    border-bottom: 0.2rem solid #fff;
    }
.item
    {
    z-index: -1;
    }
.icon4
    {
    background-position: -1vw -1vw;
    width: 100vw; 
    height: 25vw;
    background-size: 110vw 50vw; 
    transform: scale(1);
    }
.carousel-control
    {
    font-size: 2vw;
    }
.carousel-indicators li
    {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    }
.carousel-indicators
.active
    {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    }
.carousel-indicators

    {
    bottom: -1rem;
    }
.font-icon4
    {
    font-size: 2vw;
    }
.font-big
    {
    font-size: 3vw;
    }
.icon4-font
    {
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    width: 60%;
    line-height: 3vw;
    white-space: nowrap;
    }
.icon5
    {
    background-position: -634px -848px;
    width: 43px;
    height: 62px;
    } 
.icon6
    {
    background-position: -1114px -630px;
    width: 60px;
    height: 48px;
    }
.icon7
    {
    background-position: -720px -715px;
    width: 52px; 
    height: 55px;
    }
.row-5
    {
    height: 4rem;
    }
.font-weight
    {
    font-weight: bolder;
    font-size: 1.3rem;
    }
.weight
    {
    background-color: #fff;
    white-space: nowrap;
    padding: 1rem 0;
    }
.man
    {
    width: 10rem;
    }
.icon8
    {
    display: inline-block;
    background-position: -1348px -630px;
    width: 13px;
    height: 13px;
    transform: scale(0.6);
    margin-left: 0;
    position: relative;
    top: 0.2rem;
    }
.font-green
    {
    display: inline-block;
    color: #009966;
    font-weight: bolder;
    }
.font-gray
    {
    color: #c0c0c0;
    }
.round-num
    {
    width: 4rem;
    height: 4rem;
    border-radius: 50%; 
    margin: 0 0 0 3vw;
    box-shadow: 0 0 0.5rem #c0c0c0;
    }
.learn
    {
    width: 10rem;
    margin: 1rem 0 0 1rem;
    }
.flex
    {
    flex-direction: column;
    }
.flex-student
    {
    height: 20rem;
    }
.flex-learn
    {
    height: 10rem;
    justify-content: flex-start;
    }
.flex-top
    {
    margin-top: 2rem;
    }
.flex-show
    {
    height: 30rem;
    }
.flex-logo
    {
    height: 15rem;
    }
.flex-friend
    {
    flex-direction: column;
    }
.icon9
    {
    background-position: -1194px -630px;
    width:28px;
    height: 26px;
    }
.book
    {
    height: 25rem;
    padding: 0 1rem;
    box-shadow: 0 0 0.5rem #c0c0c0;
    background-color: #fff;
    }
.round-man
    {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem; 
    overflow: hidden;
    border: 0.1rem solid #c0c0c0;
    transform: scale(0.8);
    }
.icon10
    {
    background-position: -10px -848px;
    width: 108px;
    height: 108px;
    transform: scale(1);
    }
.icon11
    {
    background-position: -138px -848px;
    width: 108px;
    height: 108px;
    transform: scale(1);
    }
.icon12
    {
    background-position: -266px -848px;
    width:108px;
    height: 108px;
    transform: scale(1);
    }
.icon13
    {
    background-position: -394px -848px;
    width: 108px;
    height: 108px;
    transform: scale(1);
    }
.round-last
    {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    background-color: #009966;
    margin: 2rem 0.2rem;
    }
.round-end
    {
    background-color: #fff;
    box-shadow: 0 0 0.5rem #c0c0c0;
    }
.logo
    {
    box-shadow: 0 0 0.5rem #c0c0c0;
    background-color: #fff;
    }
.padding
    {
    padding: 0;
    }
.padding:hover
    {
    box-shadow: 0 0 0.5rem #c0c0c0;
    }
.icon14
    {
    background-position: -327px -630px;
    width: 184px;
    height: 176px;
    transform: scale(0.6);
    }
.icon15
    {
    background-position: -555px -630px;
    width: 165px;
    height: 137px;
    transform: scale(0.6);
    }
.icon16
    {
    background-position: -69px -695px;
    width: 142px;
    height: 69px;
    transform: scale(0.6);
    }
.icon17
    {
    background-position: -919px -632px;
    width: 193px;
    height: 60px;
    transform: scale(0.6);
    }
.icon18
    {
    background-position:  -720px -630px;
    width: 170px;
    height: 85px;
    transform: scale(0.6);
    }
footer
    {
    background-color: #009966;
    width: 100%;
    position: relative;
    }
.color
    {
    color: #009966;
    }
.footer-style
    {
    padding-left: 1.5rem;
    }
.font-white 
    {
    color: #fff;
    }
.font-footer
    {
    display: inline-block;
    font-size: 1.1rem;
    color: #fff;
    }
.display-left
    {
    justify-content: flex-start;
    padding-top: 1.5rem;
    }
.on 
    {
    margin-top: 1rem; 
    }
.icon19
    {
    width: 92px; 
    height: 92px;
    background-position:  -522px -848px;
    transform: scale(0.7);
    position: relative;
    left: -1.7rem;
    top: -1.5rem;
    }
.img 
    {
    flex-direction: column;
    position: relative;
    top: 0.7vw;
    right: 15vw;
    width: 6rem;
    }
.face
    {
    list-style: none;
    text-align: center;
    }
@media screen and (min-width: 750px)
    {
.label
    {
    display: none;
    }
.label:hover + .column
    {
    display: none;
    }
    }
.column 
    {
    display: none;
    }
@media screen and (max-width: 750px)
    {
.label
    {
    position: absolute;
    top: 2.4rem; 
    left: 84%;
    width: 1rem;
    padding: 1.5rem;
    height: 3.2rem;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.3);
    }
.label:hover + .column
    {
    display: block;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #009966;
    margin: 0%;
    }
    }
@media screen and (max-width: 750px)
    {
.entry
    {
    position: absolute;
    top: -1.7rem;
    left: 166%;
    font-size: 0.1rem;
    color: black;
    }
    }
i
    {
     font-style:normal
    }
@media screen and (max-width: 750px)
    {
.entry
    {
    position: absolute;
    top: 0.3rem;
    left: 83vw;
    font-size: 0.1rem;
    color: black;
}
    }
@media screen and (min-width: 750px)
    {
.entry
    {
    display: none;
    }
i
    {
    display: none;
    }
    }
@media screen and (min-width: 750px)

  









   