*   {
	padding: 0;
	margin: 0;
    }
html
    {
    font-size: 62.5%;
    }
    $blue: #5fc0cd;
$white: #fff;
$gray: #999999;
.font-seventeen{
    font-size: 1.7rem；
}
.font-white{
    color: $white;
}
.font-forteen{
    font-size: 1.4rem;
}
.font-blue{
    color: $blue;
}
.font-gray{
    color: $gray;
}
@mixin display {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
@mixin fixed {
    position: fixed;
    z-index: 999;
}
li.name
    {
    background-image: url(css12-2sprites.png) ;
    list-style-type:none;
    transform: scale(0.5);
    }
.icon1
    {         
    background-position:  -10px -10px;
    width: 42px; 
    height: 44px;
    transform: scale(0.5);
    }
.icon2 
    {
    background-position: -138px -10px;
    width: 24px;
    height: 24px;
    }
.icon3 
    {
    background-position:-138px -54px;
    width: 19px; 
    height: 33px;
    }
.icon4 
    {
    background-position: -72px -10px;
    width: 46px; 
    height: 40px;
    position: relative;
    top: -0.5rem;
    }
.icon5
    {
    background-position:  -10px -10px;
    width: 42px; 
    height: 44px;
    }
.icon6 
    {
    background-position: -10px -74px;
    width: 42px; 
    height: 41px;
    position: relative;
    top: -0.6rem;
    }
a.name{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    &:link { 
    text-decoration: none;   
    } 
    &:visited { 
    text-decoration: none;   
    } 
    &:hover { 
    text-decoration: none;  
    }
}
button.name{
    outline: none;
    border: none;
}
i.name{
    @include display;
}
body{
    background-color: $white;
}
header.name {
    @include fixed;
    top: 0%;
    width: 100%;
    border-bottom: 0.15rem solid #e1e5e7;
    .on{
        @include display;
        justify-content: space-between;
        color: $white;      
        background-color: $blue;
        height: 4.3rem;
        .left{
            width: 7.85rem;
            height: 3.35rem;
            border-radius: 0.5em;
            background-color: #55a8b3;
            color: $white;
            margin-left: 4.8rem;
        }
        .right{
            width: 7.05rem;
            height: 3.35rem;
            border-radius: 0.5em;
            background-color: $white;
            margin-left: -0.8rem;
            vertical-align: middle;
            color: #5fc0cf;
        }
    }
    select.name{    
        width: 33.3%;
        height: 4.1rem;   
        border: none;
        text-align-last:center;
        font-size: 1.4rem;
        color: $gray;
        position: relative;
        left: -0.5rem;
        background-color: $white;
        border-right: 0.15rem solid;
        border-image:-webkit-linear-gradient(top, #fff 18%, #c0c0c0 50%, #fff 82%) 5;   
    }
    .down{
        display: flex;
        align-items: center;
        width: 100%;
        height: 4rem;        
        .right{
            border-right: 0;
        }   
    }
}
main.name{
    margin: 8.4rem 0 5rem 0;
    z-index: -1;
    .centent{
        border-bottom: 0.1rem solid #e1e5e7; 
        padding-left: 0.6rem;
        .left{
            .on{
                @include display;
                margin: 1rem 0;
                color: $gray;
            }  
            .center{
                @include display;
                justify-content: space-between;
                margin-left: 2.5rem;
                padding-right: 1.8rem;
                .left{
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .right{
                    font-size: 1.5rem;
                    color: #e63b0e;
                    white-space:nowrap;
                    .blue{
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    border-right: 0.2rem solid $blue;
                    border-top: 0.2rem solid $blue;
                    transform:rotate(45deg);
                    }
                }               
            }
        }
    }
}
footer.name{
    width: 100%;
    height: 5rem;
    background-color: #f8fafb;
    @include fixed;
    bottom: 0%;
    @include display;
    justify-content: space-around;
    .left{
        font-size: 1rem;
        background: #f8fafb;
        height: 5rem;
        .font{
            font-size: 1rem;
            position: relative;
            top: -1rem;
        }
    }
    .center{
        @include display;
        justify-content: center;
        width: 4.5rem;
        height: 4.5rem; 
        border-radius: 50%; 
        background-color: $blue;
    }
}