* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a.name {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button.name {
  outline: none;
  border: none;
  letter-spacing: 0.3rem;
  height: 4.1rem;
  width: 13.5rem;
  border-radius: 1rem;
}

img.name {
  transform: scale(0.5);
}

p.name {
  margin-top: 0.4rem;
}

.font-gray {
  font-size: 1.3rem;
  color: #a6a6a6;
}

.font-small {
  font-size: 1rem;
  color: #ebebeb;
}

header.name {
  width: 100%;
  height: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  top: 0%;
  background-color: #29bde0;
  border-bottom: 0.05rem solid #74d4eb;
}

header.name .left {
  margin-left: 1.05rem;
}

header.name .center {
  margin-top: 0.5rem;
  font-size: 1.7rem;
  color: #fff;
}

header.name .right {
  margin-right: 0.9rem;
}

main.name {
  margin: 4.35rem 0 6.5rem 0;
  width: 100%;
}

main.name .on {
  background-color: #29bde0;
  padding: 0 3.8rem;
  letter-spacing: 0.2rem;
}

main.name .on .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.4rem;
}

main.name .on .last {
  font-size: 1.65rem;
  color: #ffc865;
}

main.name .on .next {
  padding: 2.6rem 0 1.25rem 0;
  font-size: 1.5rem;
  color: #fff;
}

main.name .down {
  padding: 0.7rem 3.8rem 1.7rem 3.8rem;
  border-bottom: 0.1rem solid #dddddd;
}

main.name .down .black {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
}

footer.name {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  position: fixed;
  z-index: 999;
  bottom: 0%;
  width: 100%;
  background-color: rgba(153, 223, 240, 0.8);
  height: 6.5rem;
  color: #fff;
  font-size: 2rem;
}

footer.name .red {
  background-color: #f66f6f;
}

footer.name .orange {
  background-color: #fbb435;
}
